.accountPopUp{
    
    --form-width: 26rem;

    position: absolute;
    /*228px is equal to half of form total height*/
    top: calc(50vh - 228px); 
    left: calc(50vw - var(--form-width) /2);
    z-index: 10;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: var(--form-width);
    height: fit-content;
    padding: 1rem;
    border: 0.25rem solid;
    border-radius: 1rem;
    margin:0;

    border-color: #E46A0D;
    background-color: #082c4e;

    
    animation: bounce; 
    animation-duration: 2s;
    animation-iteration-count:1;
}
    .accountPopUp a{
        padding: 2.5px 5.5px;
        border-radius: 5px;
        border: 0;
        margin: 1px;

        font-style: normal;
        font-size: inherit;
        line-height: inherit;

        color: #FFFFFF;
        background-color: #E46A0D;
    }
