.itemListContainer{
    background-color: #13110E;
    color: #FFFFFF;
}
    .itemListContainer section .productList{
        display: flex;
        flex-wrap: wrap;
        padding: 1rem;

        list-style: none;
    }
    .itemListContainer #breeadcrumbs{
        padding: 2rem;
    }
        .itemListContainer section .productList li{
            padding: 1rem;
            margin: 1rem;
            border:solid 1px;

            border-color: #643206;
        }
.producto div span{
    padding: 1rem;
}